@p:0.75;
@colorTheme:#5D87FF;
@fontGray:#666666;
.shadowbox{
  box-shadow: 2px 2px 2px 2px rgba(9,9,9,.2)/*1px*/;
}
.inlineBlock{
  display:inline-block;
  vertical-align: middle;
}
body{
  font-family: 微软雅黑;
}
.font-theme{
  color:@colorTheme;
}
.font-gray{
  color:@fontGray;
}
.btn-theme{
  background:@colorTheme;
  color:white;
}
.clearfix{
  &:after{
    clear:both;
    content:"";
    display:block;
  }
}
.itemTitle {
  font-size: 26px*@p;
  color: @fontGray;
  border-left:solid 4px*@p #4977FC;
  margin-bottom: 8px*@p;
  padding-left:3px;
}
.switch{
  .inlineBlock;
  width:134px*@p;
  height:34px*@p;
  label{
    display:block;
    width:100%;
    height:100%;
    font-size:20px*@p;
    font-weight:500;
    color:@colorTheme;
    border:solid 1px @colorTheme;
    border-radius: 8px*@p;
    overflow:hidden;
    position:relative;
    cursor: pointer;
    &:before{
      content:'启动';
      display:block;
      position:absolute;
      text-align: center;
      top:0;
      left:0;
      width:50%;
      height:100%;
      line-height:34px*@p;
      border-radius:0 8px*@p 8px*@p 0;
    }
    &:after{
      content:'关闭';
      display:block;
      position:absolute;
      top:0;
      right:0;
      text-align: center;
      width:50%;
      height:100%;
      line-height:34px*@p;
      color:white;
      background:@colorTheme;
      border-radius:8px*@p 0 0 8px*@p;
    }
  }
  input[type=checkbox]{
    display:none;
    &:checked+label{
      &:before{
        color:white;
        background:@colorTheme;
      }
      &:after{
        background:transparent;
        color:@colorTheme;
      }
    }
  }
}
.btn-form-theme{
  border-radius:8px*@p;
  background:@colorTheme;
  width:108px*@p;
  height:34px*@p;
  font-size:18px*@p;
  color:white;
  text-align: center;
  line-height:34px*@p;
}
.btn-form-theme-o{
  border-radius:8px*@p;
  border:solid 1px @colorTheme;
  width:108px*@p;
  height:34px*@p;
  font-size:18px*@p;
  line-height:34px*@p;
  color:@colorTheme;
  text-align: center;
  background:transparent;
  &:hover{
    color:@colorTheme;
  }
}
